<h1>Add new category in here.</h1>
<hr>

<form action='/add_new_category/success' method='post'>
  Category Name: <input type="text" name="category_name"><br>

  <input type="submit" name="submit">
</form>

<p><input type="button" onclick="history.back();" value="Back">