<center><h1>Welcome to Pasar Karat MAGIC</h1>
<hr>
<p><h2><u>Categories</u>:</h2></p>


<span><a href="/cars">Cars</a></span> /
<span><a href="/food">Food</a></span> /
<span><a href="/accomodation">Accomodation</a></span> /
<span><a href="/show_all">See All Listings</a></span>

<hr>
<p>
<form action="/posts/new/" method="get">
<input type="button" value="Create New Listing">
</form><p>
<form action="/add_new_category" method="post">
<input type="submit" value="Add new category">
</form>

</center>

